body {
    background-color: #e8eaf6;
}

.container {
    background-color: white;
    align-content: center;
    text-align: center;
    display: block;
}

section {
    align-content: center;
    box-sizing: border-box;

}

.card {
    display: inline-block;
    box-sizing: border-box;
}

#ncompras {
    background-color: #40c4ff;
}

#icompras {
    background-color: #00b248;
}

#nusuarios {
    background-color: #ffa000;
}

#nvisitas {
    background-color: #f44336;
}