body {
    background-color: #e8eaf6;
}

.container {
    background-color: white;
    align-content: center;
    text-align: center;
    display: block;
}

section {
    align-content: center;
    box-sizing: border-box;

}